.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffd600;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.rectangle {
  display: inline-block;
  text-align:center;
  width: 100px;
  height: 100px;
  background: #d50000;
  margin:20px;
  position:relative;
  transform: rotate(45deg);
}

span {
  position: relative;
  display: inline-block;
  text-align:center;
  margin:20px;
  margin-left:0px;
  /* margin-top:25px; */
  transform: rotate(-45deg);
}

svg {
  position: relative;
  transform: rotate(180deg);
}